

.center{
    text-align: center;
    margin-top: 230px;
    /* align-content: center; */
    /* align-items: center; */
}
/* body{
    background-image:url("assets/bg1.jpg");
    background-size: cover;
    background-attachment: fixed;
} */